@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 768px) and (max-width: 980px) { @content; }
  }
}

.attribution-link {
  position: relative;
  top:0;
  left: 0;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
}
.wrapper {
  width: 70%;
  margin: 0 auto;

    @include respond-to(handhelds) { width: 100%; };
    @include respond-to(wide-handhelds) {width: 100%; };
    @include respond-to(tablets) { width: 90% };
}
.main-title {
  font-size: 80px;
  margin: 20px 10px;
  color: #000;
}
#container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.popup-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
}
.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  border: 1px solid #333;
  display: block;
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  color: #333;

  &:hover {
    border: 1px solid blue;
  }
  &:hover p {
    color: #000;
  }
}
.item-title {
  text-decoration: none;
  font-family: 'Rokkitt', serif;
  color: #333;

  &:hover {
    text-decoration: underline;
    color: #000;
  }
}
.item-source {
  font-family: 'Orbitron', sans-serif;
  @include respond-to(handhelds) { font-size: 5px; };
  @include respond-to(wide-handhelds) {font-size: 8px; };
}
.item-date {
  font-family: 'Rokkitt', serif;
}
p {
  font-family: 'Rokkitt', serif;
  color: #333;
}
img {
  width: 100%;
  height: auto;
}